.address-books {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
  width: 20%;
  height: 100%;
  overflow: hidden;
  background-color: lightblue;

  &--categories {
    width: 100%;
    flex: 1 0 0;
    color: red;
  }

  &--form {
    width: 100%;
    background: white;
    flex: 0 0 50px;
  }
}
