<h1>Contacts</h1>
 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name + ' ' + contact.last_name %></td>
        <td><%= contact.format_birthdate %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>
<%= link_to 'back to address books...', address_books_url %>