<div class="address-book">
  <div class="address-book--contacts">
    <%= c("contacts": contacts: contacts) %>
  </div>div>
  <div class="address-book--form">
    <%= c("contact-form") %>
  </div>
</div>
